{% extends 'Admin_base.html.twig' %}

{% block title %}New Lignecommande{% endblock %}

{% block content %}
    <h1>Create new Lignecommande</h1>

    {{ include('admin_lignecommande/_form.html.twig') }}

    <a href="{{ path('app_admin_lignecommande_index') }}">back to list</a>
{% endblock %}
