<form method="post" action="{{ path('app_admin_match_delete', {'idStatistique': details_defi.idStatistique}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ details_defi.idStatistique) }}">
    <button class="btn">Delete</button>
</form>
