{% extends 'Admin_base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block content %}
    <h1>Create new Image</h1>

    {{ include('admin_image/_form.html.twig') }}

     <a href="{{ path('app_admin_image_index') }}"class="btn btn-outline-info">back to list</a>
{% endblock %}
