{% extends 'Admin_base.html.twig' %}

{% block title %}New Defi{% endblock %}

{% block content %}
    <h1>Ajouter Un nouveau Defi</h1>

    {{ include('admin_defi/_form.html.twig') }}

    <a href="{{ path('app_admin_defi_index') }}">Retourner a la  list</a>
{% endblock %}
