{% extends 'Admin_base.html.twig' %}
{% block content %}
    <a href="{{ path('app_admin_defi_index') }}" class="btn btn-outline-dark">Retourner a la  list</a>
    {{ render_chart(chart) }}
{% endblock %}