.swiper-container {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background: #e1e5e4;
    width: 420px;
    height: 350px;
    box-shadow: 0 4px 20px 2px rgba(0,0,0,0.2);
    margin:20px 10px 10px 10px;
    opacity:0.4;

<!--filter:blur(4px);-->
}
#vidaccueil:hover{

    transform: scale(1.05);
}
.swiper-slide-active{
    opacity:1;
<!-- filter:blur(0px);-->



}
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-left
{
    background-image:none;
<!--background-image: linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0));-->

}