{{ form_start(form, {
    attr:{
        novalidate:'novalidate'
    }
}) }}
    {{ form_row(form.nomCat, {
        attr: {
            placeholder: 'Categorie',
            class: 'form-control'
        }
    }) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
