{% extends 'Admin_base.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block content %}
    <div class="container">
        <h1>Create new Reclamation</h1>

        {{ include('admin_reclamation/_form.html.twig') }}

        <a href="{{ path('app_admin_reclamation_index') }}">back to list</a>
    </div>
{% endblock %}
