{#{% extends 'base.html.twig' %}#}

{#{% block title %}- Home{% endblock %}#}
{#{% block top_contact %}#}
{#    {% include 'skeleton/top.html.twig' %}#}
{#{% endblock %}#}
{% block content %}
    <a href="{{ path('app_client_video_uploade', {'page': 1}) }}" class="btn-sm btn-default"> return</a>
    <video width="100%" controls>

        <source src="{{ asset('uploads/video_uploads/' ~ video.urlVideo) }}" type="video/mp4">

    </video>

{% endblock %}
