{% extends 'Admin_base.html.twig' %}

{% block title %}Edit Skin{% endblock %}

{% block content %}
    <h1>Edit Skin</h1>

    {{ include('admin_skin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_skin_index') }}"class="btn btn-outline-info">back to list</a>

    {{ include('admin_skin/_delete_form.html.twig') }}
{% endblock %}
