{% extends 'Admin_base.html.twig' %}

{% block title %}New Skin{% endblock %}

{% block content %}
    <h1>Create new Skin</h1>

    {{ include('admin_skin/_form.html.twig') }}

    <a href="{{ path('app_admin_skin_index') }}"class="btn btn-outline-info">back to list</a>
{% endblock %}
