{% extends 'Admin_base.html.twig' %}

{% block title %}Upload Video{% endblock %}

{% block content %}
    <br>
    <h1>Upload video for <strong>{{ video_uploade.nomVideo }}</strong></h1>

    {{ include('admin_video_uploade/_form_hidden.html.twig', {'button_label': 'upload'}) }}

    <a href="{{ path('app_admin_video_uploade_index') }}">back to list</a>

    {{ include('admin_video_uploade/_delete_form.html.twig') }}
{% endblock %}
