{% extends 'Admin_base.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
    <h1>Create new User</h1>

    {{ include('adminusers/_form.html.twig') }}

    <a href="{{ path('app_adminusers_index') }}">back to list</a>
{% endblock %}
