<form method="post" action="{{ path('app_admin_commande_delete', {'idCommande': commande.idCommande}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.idCommande) }}">
    <button class="btn">Delete</button>
</form>
