{% extends 'Admin_base.html.twig' %}

{% block title %}New Commande{% endblock %}

{% block content %}
    <h1>Create new Commande</h1>

    {{ include('admin_commande/_form.html.twig') }}

    <a href="{{ path('app_admin_commande_index') }}">back to list</a>
{% endblock %}
