{% extends 'Admin_base.html.twig' %}

{% block title %}Edit Jeu{% endblock %}

{% block content %}
    <h1>Edit Jeu</h1>

    {{ include('admin_jeu/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_jeu_index') }}"class="btn btn-outline-info">back to list</a>

    {{ include('admin_jeu/_delete_form.html.twig') }}
{% endblock %}
