{% extends 'Admin_base.html.twig' %}

{% block title %}New Jeu{% endblock %}

{% block content %}
    <h1>Create new Jeu</h1>

    {{ include('admin_jeu/_form.html.twig') }}

    <button class="w3-btn w3-white w3-border w3-border-grey w3-round-large"> <a href="{{ path('app_admin_jeu_index') }}">back to list</a></button>
{% endblock %}
